
.article-details {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
}

.title-tag {
    background: $white;
    margin: 1rem;
    width: 60%;
    place-self: center;
}