.article-preview {
    @include flex(row, between);
    @include mediaQueries(article-card);
    margin: 0rem 1rem 1rem;
    padding: .5rem;
    width: 80%;
    min-width: 10rem;
    border-bottom: 1px solid $black;

    h2 {
        margin-bottom: .5rem;
    }

    img {
        height: 7rem;
        width: 7rem;
    }
}

.article-description {
    @include flex(column, start);
    padding: 0rem .8rem;
}

.date-author {
    @include flex(row, evenly);
    margin-top: .5rem;
}

.preview {
    font-size: .9rem;
}

.view-details {
    font-size: 2rem;
    svg {
        color: $black;
        &:hover{
            color: $color-dark;
            transform: scale(1.05)
        }
    }
}