.all-categories {
    @include flex(column, start);
    width: 30%;
    height: 100%;
    margin: 1rem 0rem .5rem 0rem;
    padding: .5rem;
}

.category-tab {
    padding: 1rem;
    color: $black;
    background: $white;
    border: 1px solid $color-light;
    margin: .5rem;
        &:hover {
            background: #6ba9a8;
            color: white;
            cursor: pointer;
        }
        &.active {
            background: #6ba9a8;
            color: white;
          }
}