/* === Neutrals === */
$white: hsla(0, 0, 100, 1);
$black: hsla(0, 0, 0, 1);

/* === Palette === */
$color-light: rgb(107, 169, 168);
$color-dark: rgba(23, 75, 72, 0.728);
$box-shadow: 0 9px 15px -9px #000;

